.mainsignup{
    display: flex;
    flex-direction: row;
    background-image: linear-gradient(270deg,#be22ff 20%,#ff279c 50%,#ff981f 80%);
 
}



.signupform{
    margin: auto;
    margin-top: 10vh;
    margin-bottom: 26vh;
    background-image: linear-gradient(to left,rgb(9, 240, 105),rgb(2, 216, 240));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 65vh;
    height: 400px;
    color: white;
    opacity: 90%;
    border-radius: 15px;
  
}


.username1, .email1, .password1, .confirmpassword1{
    font-size: 25px;
    height: 5vh;
    width: 20vw;
    border-radius: 30px;
    padding-left: 10px;
    margin-bottom: 10px;
}


.text{
    font-size: 15px;
}

.signup{
    border-radius: 15px;
    font-style: bold;
    font-size: 100%;
    background-color: red;
    color: black;
    width: 20vh;
    height: 7.5vh;
}

.signup:hover {
  opacity: 0.5;
}



