.login-container {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  min-height: 100vh;
  margin-top: -150px;
  background-image: linear-gradient(270deg,#be22ff 20%,#ff279c 50%,#ff981f 80%);
}

.login-box{
  background-color: #fff;
  border-radius: 40px; /* Curved boxes */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(to left,rgb(2, 2, 255),rgb(255, 0, 0));
  padding: 20px;
  text-align: center;

  width: 450px;
}
.login-box ::placeholder{
  color: rgb(255, 136, 0);
}
.login-box input{
  width: 200px;
  height: 20px;
  border-radius: 30px;
  color: black;
}

.login-box button{
  width: 80px;
  height: 50px;
  border-radius: 30px;
  color: black;
  font-size: large;
  font-weight: bold;
  background-image: linear-gradient(to left,rgb(227, 247, 3),rgb(10, 255, 190));
}
.login-box select {
  width: 100px;
  height: 50px;
  border-radius: 30px;
  color: black;
  font-size: large;
  font-weight: bold;
  background-image: linear-gradient(to left,rgb(227, 247, 3),rgb(10, 255, 190));
}
.login-box label{
  font-size: large;
  color: rgb(0, 255, 229);
}
.login-box option{
  font-size: large;
  font-weight: bold;

}
.login-container::Registernumber{
     width: 20px;
}

.login-image {
  width: 100px;
  height: 100px;
  
}



.login-container::Registernumber{
     width: 20px;
}

.login-image {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}

